<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </h1>

    <p class="post-meta text-muted">
      {% if post.date %}<time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %-d, %Y" }}</time>{% endif %}
      {% if post.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ post.author }}</span></span>{% endif %}
      {% if post.tags.size > 0 %} • Tagged {{ post.tags | array_to_sentence_string }}{% endif %}
    </p>
  </header>

  <div class="post-content" itemprop="articleBody">
    <div class="row">
      <div class="col-md-8">{{ post.description | markdownify }}</div>
      <div class="col-md-4">
        {% if post.inspiration.size > 0 %}
          <div class="well">
            <h4>Inspiration and references</h4>
            <ul>
              {% for item in post.inspiration %}
                <li>{{ item | markdownify }}</li>
              {% endfor %}
            </u>
          </div>
        {% endif %}
      </div>
    </div>

    {{ post.content }}

    <div class="row">
      {% if post.interruptions.size > 0 %}
        <div class="col-md-6">
          <div class="well">
            <h4>Interruptions</h4>
            <ul>
              {% for item in post.interruptions %}
                <li>{{ item | markdownify }}</li>
              {% endfor %}
            </u>
          </div>
        </div>
      {% endif %}
      {% if post.reflections.size > 0 %}
        <div class="col-md-6">
          <div class="well">
            <h4>Reflections</h4>
            <ul>
              {% for item in post.reflections %}
                <li>{{ item | markdownify }}</li>
              {% endfor %}
            </u>
          </div>
        </div>
      {% endif %}
    </div>
  </div>

</article>
